<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<section class="layout-content" layout:fragment="corpo">
			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><i class="oi oi-caret-right"></i>
							<span>Lista de Marcas</span>
						</li>
					</ul>
					<a class="btn btn-primary btn-md" href="/marcas/cadastrar"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Nova Marca</span>
					</a>
				</div>
			</nav>
			<div class="container" id="listagem">
			
			  <div th:replace="fragments/alert"></div>
			  
				<div class="table-responsive">
					<table class="table table-striped table-hover table-sm">
						<thead>
							<tr>
								<th>#</th>
								<th>Nome</th>
							</tr>
						</thead>
						<tbody>
							
							<!--  for do Thymeleaf - 
							th:each.d: variável.  
							departamentos: lista
		                    th:text - imprimir dados -->
		                    
							<tr th:each="m : ${marcas}">
								<td th:text="${m.id}"></td>
								<td th:text=${m.nome}></td>
								<td colspan="2">
									<a class="btn btn-info btn-sm" th:href="@{/marcas/editar/{id} (id=${m.id}) }" role="button">
										<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
									</a>
									
									<!-- data-toggle e data-target - bootstrap -->
									
									<button th:id="${ 'btn_marcas/excluir/' + m.id }" type="button"
										class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
										<span class="oi oi-circle-x" title="Exclusão desabilitada" aria-hidden="true"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div th:replace="fragments/modal :: modal" ></div>
		</section>
	</body>
</html>
